body,html{
    height: 100%;
    font-family: 'Arial','Times New Roman','Courier New', 'Courier', 'monospace';
    font-size: 15px;
    
}
*{
    box-sizing: border-box;
}
.bodyframe{
    background-image: url("desk.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 1;
}
.flexcontent{
    z-index: inherit;
    position: absolute;
    top: 50px; 
    z-index: 3; 
    text-align: left;  
    color:gray;     
    margin:15px;
}
.inner{
    margin-left: 8px;
}
.btn{
    border-radius: 2rem;
}
.btn a{
    color: white;
}
#center img{
    border: 1px solid gray;
    margin-top: 20px;
    height: 200px;
    width: 180px;
    border-radius: 50%;   
}
input{
    border-radius: 1rem;
}
a{
    color:palevioletred;
}
a:hover{
    color:brown;
    text-decoration: none;
}
#center-image{
    border-radius: 50%;
}
#section{
    top: 100%;
    margin: 10px;  
}
/* -----------------meddia screen-----------*/
@media only screen and (min-width:992px){
    .container{
        width: 100%; 
        
    }
    .flexcontent{
        left:18%;
        align-content: center;
        margin: 2 auto;
     
    }
}
