body{
    background-image: url("desk.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    height: 100%;
    width: 100%; 
}
*{
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%; 
    position: absolute;
    color: gray;  
}
.jumbotron img{
    border-radius: 50%;
}
.project a{
    color:palevioletred;
    text-decoration: none;
}
.project a:hover{
    color:brown;
    text-decoration: none;
}
.last{
    margin-left: 8px;
}